.order__box {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  border-radius: 3px;
  font-size: 14px;
  background: #fff;
  color: #888;
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.order__product {
  margin-top: 0;
  margin-bottom: 0;
  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
  &--title {
    display: flex;
    align-items: center;
    gap: 20px;
    p {
      max-width: 17rem;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87);
      display: block;
      margin-bottom: 5px;
      max-height: 32px;
      text-overflow: ellipsis;
      word-break: break-all;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  &--quantity {
    align-items: center;
    .quantity--inpGr {
      display: flex;
      align-items: center;
      input,
      button {
        display: flex;
        align-self: center;
        justify-content: center;
        line-height: 26px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.09);
        background: transparent;
        color: rgba(0, 0, 0, 0.6);
      }
      input {
        width: 50px;
        height: 32px;
        font-size: 16px;
        text-align: center;
        cursor: text;
        border-radius: 0;
      }
      button {
        cursor: pointer;
        font-size: 2rem;
        width: 32px;
        height: 32px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:disabled {
          cursor: not-allowed;
          pointer-events: all !important;
        }
      }
    }
  }
}
.order__payment {
  justify-content: end;
  color: var(--color1);
  p {
    font-size: 1.3rem;
  }
  button {
    padding: 0 50px;
    height: 50px;
    color: #fff;
    position: relative;
    overflow: visible;
    background: #ee4d2d;
    border: none;
    cursor: pointer;
    &:hover {
      background: #f05d40;
    }
  }
}
.payment__box {
  display: flex;
  justify-content: center;
  width: 400px;
  .payment {
    &__action {
      margin-bottom: 1rem;
      p {
        font-size: 14px;
      }
    }
    &__btn {
      button {
        padding: 0 50px;
        height: 50px;
        color: #fff;
        position: relative;
        overflow: visible;
        background: #ee4d2d;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        width: 100%;
        &:hover {
          background: #f05d40;
        }
      }
    }
  }
}
